<h2 mat-dialog-title>{{ isEdit ? ('GROUPS.EDIT' | translate) : ('GROUPS.ADD' | translate) }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" id="group-form" (ngSubmit)="submit()" class="p-t-8">

    <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.NAME' | translate }}</mat-label>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput formControlName="name" placeholder="Group name" />
      <mat-error>{{ 'PRODUCTS.NAME_REQUIRED' | translate }}</mat-error>
    </mat-form-field>

    <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'GROUPS.CATEGORY' | translate }}</mat-label>
    <mat-form-field appearance="outline" class="w-100">
      <mat-select formControlName="categoryId">
        @for (category of data.categories; track category.id) {
          <mat-option [value]="category.id">{{ category.name }}</mat-option>
        }
      </mat-select>
      <mat-error>{{ 'GROUPS.CATEGORY_REQUIRED' | translate }}</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>{{ 'COMMON.CANCEL' | translate }}</button>
  <button mat-flat-button color="primary" form="group-form" type="submit">
    {{ isEdit ? ('COMMON.SAVE' | translate) : ('COMMON.CREATE' | translate) }}
  </button>
</mat-dialog-actions>
