<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="auth-login-layout position-relative w-100 h-100 bg-gredient">
    <div class="auth-brand-panel">
      <img src="./assets/images/logos/new-logo.png" class="auth-brand-logo" alt="logo" />
    </div>

    <div class="auth-form-panel">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
<!--          <div class="row m-t-24 custom-row">-->
<!--            <div class="col-12 col-sm-6">-->
<!--              <button mat-stroked-button class="w-100">-->
<!--                <div class="d-flex align-items-center">-->
<!--                  <img src="/assets/images/svgs/google-icon.svg" alt="google" width="16" class="m-r-8" />-->
<!--                  <span>{{ 'AUTH.LOGIN.GOOGLE' | translate }}</span>-->
<!--                </div>-->
<!--              </button>-->
<!--            </div>-->
<!--            <div class="col-12 col-sm-6">-->
<!--              <button mat-stroked-button class="w-100 d-flex align-items-center">-->
<!--                <div class="d-flex align-items-center">-->
<!--                  <img src="/assets/images/svgs/facebook-icon.svg" alt="facebook" width="40" class="m-r-4" />-->
<!--                  {{ 'AUTH.LOGIN.FACEBOOK' | translate }}-->
<!--                </div>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="or-border m-t-30">{{ 'AUTH.LOGIN.OR_EMAIL' | translate }}</div>-->

          <form [formGroup]="form" (ngSubmit)="submit()" class="m-t-30">
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'AUTH.COMMON.EMAIL' | translate }}</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="email" type="email" />
              <mat-error>{{ 'AUTH.LOGIN.INVALID_EMAIL' | translate }}</mat-error>
            </mat-form-field>

            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'AUTH.COMMON.PASSWORD' | translate }}</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" />
              <button mat-icon-button matSuffix type="button" (click)="showPassword = !showPassword"
                [attr.aria-label]="showPassword ? ('AUTH.LOGIN.HIDE_PASSWORD' | translate) : ('AUTH.LOGIN.SHOW_PASSWORD' | translate)">
                <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error>{{ 'AUTH.LOGIN.PASSWORD_REQUIRED' | translate }}</mat-error>
            </mat-form-field>

            @if (errorMessage) {
              <p class="text-danger f-s-14 m-b-12">{{ errorMessage }}</p>
            }

            <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">{{ 'AUTH.LOGIN.REMEMBER_DEVICE' | translate }}</mat-checkbox>
              <a [routerLink]="['/']" class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14">
                {{ 'AUTH.LOGIN.FORGOT_PASSWORD' | translate }}
              </a>
            </div>

            <button type="submit" mat-flat-button color="primary" class="w-100">{{ 'AUTH.LOGIN.SUBMIT' | translate }}</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
