<div class="sidebarHeader d-flex align-items-center justify-content-between p-x-20 p-y-16">
  <app-branding></app-branding>

  @if(showToggle) {
  <a href="javascript:void(0)" (click)="toggleMobileNav.emit()"
    class="d-flex justify-content-center icon-40 align-items-center">
    <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
  </a>
  } @else {
  <a href="javascript:void(0)" (click)="toggleCollapsed.emit()"
    class="d-flex justify-content-center icon-40 align-items-center"
    [title]="(collapsed ? 'NAV.EXPAND' : 'NAV.COLLAPSE') | translate">
    <i-tabler [name]="collapsed ? 'menu-2' : 'layout-sidebar-left-collapse'" class="icon-20 d-flex"></i-tabler>
  </a>
  }
</div>