<mat-toolbar class="topbar gap-10">
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex d-md-none justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>

  <span class="flex-1-auto"></span>

  <button mat-stroked-button [matMenuTriggerFor]="languageMenu">
    {{ currentLanguage === 'ro' ? 'Română' : 'English' }}
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="setLanguage('ro')">Română</button>
    <button mat-menu-item (click)="setLanguage('en')">English</button>
  </mat-menu>

  <button mat-stroked-button (click)="logout()">{{ 'HEADER.LOGOUT' | translate }}</button>
</mat-toolbar>