<h2 mat-dialog-title>{{ isEdit ? ('GAMMAS.EDIT' | translate) : ('GAMMAS.ADD' | translate) }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" id="gamma-form" (ngSubmit)="submit()" class="p-t-8">

    <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.NAME' | translate }}</mat-label>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput formControlName="name" [placeholder]="'GAMMAS.PLACEHOLDER_NAME' | translate" />
      <mat-error>{{ 'PRODUCTS.NAME_REQUIRED' | translate }}</mat-error>
    </mat-form-field>

    <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.PRICE' | translate }}</mat-label>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput formControlName="price" type="number" min="0" step="0.01" placeholder="0.00" />
      <mat-error>{{ 'PRODUCTS.PRICE_INVALID' | translate }}</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>{{ 'COMMON.CANCEL' | translate }}</button>
  <button mat-flat-button color="primary" form="gamma-form" type="submit">
    {{ isEdit ? ('COMMON.SAVE' | translate) : ('COMMON.CREATE' | translate) }}
  </button>
</mat-dialog-actions>
