<h2 mat-dialog-title>{{ isEdit ? ('PRODUCTS.EDIT' | translate) : ('PRODUCTS.ADD' | translate) }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" id="product-form" (ngSubmit)="submit()" class="product-form p-t-8">
    <div class="product-form-field">
      <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.NAME' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput formControlName="name" [placeholder]="'PRODUCTS.PLACEHOLDER_NAME' | translate" />
        <mat-error>{{ 'PRODUCTS.NAME_REQUIRED' | translate }}</mat-error>
      </mat-form-field>
    </div>

    <div class="product-form-field">
      <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.PRICE' | translate }}</mat-label>
      <div class="product-price-row">
        <mat-form-field appearance="outline" class="product-price-input">
          <input matInput formControlName="price" type="number" min="0" max="9999" step="0.01" placeholder="0.00" />
          <mat-error>{{ 'PRODUCTS.PRICE_INVALID' | translate }}</mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="noPrice">{{ 'PRODUCTS.NO_PRICE' | translate }}</mat-checkbox>
      </div>
    </div>

    <div class="product-form-field">
      <div class="product-price-row">
        <div>
          <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.COST_PRICE' | translate }}</mat-label>
          <mat-form-field appearance="outline" class="product-price-input">
            <input matInput formControlName="costPrice" type="number" min="0" step="0.01" placeholder="0.00" />
          </mat-form-field>
        </div>
        <div>
          <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.VAT_RATE' | translate }}</mat-label>
          <mat-form-field appearance="outline" class="product-price-input">
            <input matInput formControlName="vatRate" type="number" min="0" max="100" step="1"
                   [placeholder]="'PRODUCTS.VAT_RATE_DEFAULT' | translate" />
            <mat-error>{{ 'PRODUCTS.VAT_RATE_INVALID' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.STOCK' | translate }}</mat-label>
          <mat-form-field appearance="outline" class="product-price-input">
            <input matInput formControlName="stock" type="number" min="0" step="1" placeholder="0" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="product-form-field">
      <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.CATEGORY' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select formControlName="categoryId" [placeholder]="'PRODUCTS.NO_CATEGORY' | translate">
          <mat-option [value]="null">{{ 'PRODUCTS.NO_CATEGORY' | translate }}</mat-option>
          @for (category of data.categories; track category.id) {
            <mat-option [value]="category.id">{{ category.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="product-form-field">
      <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.GAMMA' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select formControlName="gammaId" [placeholder]="'PRODUCTS.NO_GAMMA' | translate" (selectionChange)="onGammaSelected($event.value)">
          <mat-option [value]="null">{{ 'PRODUCTS.NO_GAMMA' | translate }}</mat-option>
          @for (gamma of data.gammas; track gamma.id) {
            <mat-option [value]="gamma.id">{{ gamma.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="product-form-field">
      <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.BRAND' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select formControlName="brandId" [placeholder]="'PRODUCTS.NO_BRAND' | translate">
          <mat-option [value]="null">{{ 'PRODUCTS.NO_BRAND' | translate }}</mat-option>
          @for (brand of data.brands; track brand.id) {
            <mat-option [value]="brand.id">{{ brand.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="product-form-field">
      <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.ITEM_CODE' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput formControlName="itemCode" [placeholder]="'PRODUCTS.PLACEHOLDER_ITEM_CODE' | translate" />
      </mat-form-field>
    </div>

    <div class="product-form-field">
      <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.BARCODE' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput formControlName="barcode" [placeholder]="'PRODUCTS.PLACEHOLDER_BARCODE' | translate" />
      </mat-form-field>
    </div>

    <div class="product-form-field product-form-inline">
      <mat-checkbox formControlName="drinkStampEligible">
        {{ 'PRODUCTS.DRINK_STAMP_ELIGIBLE' | translate }}
      </mat-checkbox>
      <mat-icon
        class="product-info-icon"
        tabindex="0"
        [matTooltip]="'PRODUCTS.DRINK_STAMP_ELIGIBLE_HINT' | translate"
        matTooltipPosition="above"
      >info_outline</mat-icon>
    </div>

    <div class="product-form-advanced">
      <mat-expansion-panel class="shadow-none">
        <mat-expansion-panel-header>
          <mat-panel-title class="f-s-14 f-w-600">{{ 'PRODUCTS.ADVANCED_CODES' | translate }}</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="product-form-advanced-grid">
          <div class="product-form-field">
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.MATRIX_BARCODE' | translate }}</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="matrixBarcode" [placeholder]="'PRODUCTS.PLACEHOLDER_MATRIX_BARCODE' | translate" />
            </mat-form-field>
          </div>

          <div class="product-form-field">
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'PRODUCTS.QR_CODE' | translate }}</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="qrCode" [placeholder]="'PRODUCTS.PLACEHOLDER_QR_CODE' | translate" />
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>{{ 'COMMON.CANCEL' | translate }}</button>
  <button mat-flat-button color="primary" form="product-form" type="submit">
    {{ isEdit ? ('COMMON.SAVE' | translate) : ('COMMON.CREATE' | translate) }}
  </button>
</mat-dialog-actions>
