<mat-sidenav-container class="mainWrapper" autosize autoFocus dir="ltr">
  <mat-sidenav #leftsidenav [mode]="isOver ? 'over' : 'side'" [opened]="!isOver"
    (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()" class="sidebarNav">
    <div class="flex-layout">
      <app-sidebar (toggleMobileNav)="sidenav?.toggle()" [showToggle]="isOver"></app-sidebar>
      <ng-scrollbar class="position-relative" style="height: 100%">
        <mat-nav-list class="sidebar-list">
          @for(item of navItems; track item) {
          <app-nav-item [item]="item" (notify)="sidenav?.toggle()">
          </app-nav-item>
          }
        </mat-nav-list>
        <div class="p-x-16 p-b-16">
          <button mat-stroked-button class="w-100" [matMenuTriggerFor]="languageMenu">
            <i-tabler name="language" class="icon-18 d-inline-flex m-r-8"></i-tabler>
            {{ currentLanguage === 'ro' ? 'Română' : 'English' }}
          </button>
          <mat-menu #languageMenu="matMenu">
            <button mat-menu-item (click)="setLanguage('ro')">Română</button>
            <button mat-menu-item (click)="setLanguage('en')">English</button>
          </mat-menu>
        </div>
      </ng-scrollbar>
      <div class="p-24">
        <button mat-stroked-button class="w-100 sidebar-logout-btn" (click)="logout()">
          <i-tabler name="logout" class="icon-18 d-flex"></i-tabler>
          <span>Logout</span>
        </button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="contentWrapper" #content>
    <main class="pageWrapper maxWidth">
      <div>
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>